<ion-view view-title="Top News">
  <ion-content>
    <h1>Top News</h1>
    <div class="list">
      <div ng-repeat="topNews in topNewslist">
    <a class="item item-thumbnail-left">
      <img src="{{topNews.urlToImage}}">
      <h2>{{topNews.title}}</h2>
      <p ng-bind="topNews.description"></p>
    </a>
    <button class="button" ng-click="shareContent(topNews.title)">Share</button>
    <div>
  </div>



        <button class="button" ng-click="shareContent()">Share</button>
   <!-- <button class="button" ng-click="openBrowser()">openBrowser</button>
    <button class="button" ng-click="appVersion12()">appVersion</button> -->
  </ion-content>
</ion-view>
